
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.header{
    margin-top: 60px;
}


.header-container{
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
}
.header-img-card{
    display: flex;
}
.header-img-card img{
    width: 37px;
    height: 45px;
}

.header-text{
    
    color:#58A9A5;
    margin-left: 10px;
}
.header-nav ul {
    display: flex;
    
}
.header-nav ul li a{
    margin: 0 0 35px 35px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #000;
}
.header-nav ul li a:hover{
    color: #58A9A5;
}
.click{
    color: #fff;
    background: #58A9A5;
    border-radius: 15px;
    width: 150px;
    height: 38px;
   
}

.body-container{
    display: flex;
    margin: 40px;
}
.body-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
}
.body-title{
    font-size: 30px;
}


.navbar{
    text-align: center;
}
.navbar .navbar-text{
    font-weight: 800;
    font-size: 70px;
}

.navbar .navbar-title{
    font-size: 30px;
    color: #404242;
}

.works{
    
}

.work-container{
    display: flex;
    margin: 40px;
}
.work-title{

    background: #CCF0E6;
    border-radius: 0px 10px 10px 0px;
    width: 549px;
    height: 350px;
    text-align: center;
    align-items: center;
}

.work-title p{
    margin-top: 100px;
    font-weight: 500;
    font-size: 20px;
}

.our-mission-container{
    display: flex;
    justify-content: space-around;
}

.our-mission-text h2{
    font-size: 40px;
    line-height: 60px;
    color: #1C2323;
}
.our-mission-text p{
    font-size: 30px;
    line-height: 45px;
    color: #486958;

}

.box-container{
    text-align: center;
    align-items: center;

}
.box-text h1{
    font-size: 70px;
    line-height: 105px;
    color: #1C2323;
}

.box-container p{
    font-size: 30px;
    line-height: 45px;
    color: #1C2323;
}
.box-buttom .box-font {
    border-bottom: 5px solid #58A9A5;
}
.box-font{
    color: white;
}


.our-project{
    margin-top: 100px;
}
.our-project-container{
    display: flex;
    justify-content: space-evenly;
}
.our-project-text h1{
    font-size: 40px;
    line-height: 60px;
    color: #58A9A5;
}
.our-project-text p{
    font-size: 20px;
    line-height: 30px;
    color: #486958;

}

.testimonial-container{
    text-align: center;
}
.testimonial-text h1{
    font-size: 70px;
    line-height: 105px;
    color: #1C2323;
}
.testimonial-img-card{
    display: flex;
    justify-content: space-evenly;
}
.testimonial-img{
    width: 196px;
    height: 144px;
}

.img-bg{
    width: 615px;
    height: 700px;
}

.container {
    display: flex;
    justify-content: space-around;
}
.img {
    width: 615px;
    height: 700px;
}
.locus{
    background: #CCF0E6;
}

.paragrf {
    padding-top: 100px;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #486958;
}

.para-text{
    padding-right: 400px;
}

.contact-us {
}
.contact {
    display: flex;
    justify-content: space-around;
}

.input {
    border: 1px solid #486958;
    box-sizing: border-box;
    display: grid;
    padding-bottom: 20px;
}

.repeat{
    width: 424px;
    height: 48px; 
}

/* secure start */

.secure {
    padding-bottom: 176px;
    text-align: center;
  }
  .secure-heading {
    font-size: 54px;
    line-height: 72px;
    color: #12100c;
    margin-bottom: 47px;
  }
  .secure-img {
    margin-bottom: 49px;
    display: block;
    width: 1269px;
    height: 821px;
  }
  .secure-text {
    font-size: 24px;
    line-height: 32px;
    color: rgba(18, 16, 12, 0.7);
    width: 877px;
    margin: auto;
    margin-bottom: 45px;
  }
  
  .secure-chrome-link {
    margin-right: 16px;
    display: inline-block;
  }
  .secure-chrome-img {
    display: inline-block;
    width: 207px;
    height: 47px;
  }
  .secure-firefox-link {
    display: inline-block;
  }
  .secure-firefox-img {
    display: inline-block;
    width: 199px;
    height: 47px;
  }
  
  /* secure end */

  /* media start */

@media screen and (max-width:1000px){

    * {
        margin-right: 0px;
    }

    .header,
    .header-nav,
    .header-text,
    .header-nav,
    .header-ul,
    .header-img-card,
    .body,
    .body-container,
    .our-mission,
    .our-mission-container,
    .our-mission-text,
    .work-container,
    .our-project-container,
    .testimonial-img-card,
    .paragrf,
    .img,
    .container,
    .contact {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .body-img,
    .work-img,
    .our-mission-img {
        width: 100%;
        height: 100%;
    }

    .img-bg,
    .para-text,
    .work-title {
        width: 80%;
        height: 80%;
    }

    .body-text,
    .navbar-text,
    .h2,
    .clas-h1,
    .qwer-h1 {
        font-size: 42px !important;
        line-height: 1.5 !important;
    }

    .body-title,
    .navbar-title,
    .paragrif-p,
    .h3,
    .ser-p,
    .par-text,
    .qwer-p {
        font-size: 16px !important;
        line-height: 1.5 !important;
    }

    .testimonial-img,
    .paragrf {
        width: 30%;
        height: 30%;
        padding-bottom: 10px;
    }

}

  /* media end */

